html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
  padding: 10px;
}

.body {
  flex-grow: 1;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 80px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
  padding: 10px;
}

.footer button {
  border-radius: 0;
}

.dimension-info {
  overflow-y: auto;
}